!!! 5
%html{:lang => "ru"}
  %head
    %meta{:charset => "utf-8"}

    %title Hi, Alex

    %meta{:name => "description", :content => "Браузерная Флеш игра BTG"}
    %meta{:name => "keywords", :content => "игра, флеш, браузер, BTG, игроки."}

    %link{:rel => "stylesheet",
      :href => "http://beautyfree.no-ip.org/derole/application/views/default/css/style.css",
      :type => "text/css"}
  %body
    = $content
